@import '../../sass/vars';
@import '../../sass/mixins';

.slider{
  &__container{
    max-height: 70vh;
    overflow: hidden;
    position: relative;
    width: 60rem;
    height: 35rem;
    margin: 0 auto;
    @include mobile {
      width: 90vw;
      width: 100%;
    }
    @media only screen and (max-height: 412px) {
      max-height: 55vh;
      width: 100%;
    }
  }
  &__nav {
    display: table;
    clear: both;
    margin: 0 auto;
    &__item {
      display: block;
      margin: 0.5rem;
      border: 1px solid $color__background--secondary;
      opacity: 0.3;
      color: transparent;
      width: 1.25rem;
      height: 1.25rem;
      float: left;
      transition: opacity 1000ms ease;
      &.active {
        opacity: 1;
      }
    }
  }
  & > ul {
    transition: all 1000ms ease;
    padding: 0;
    white-space: nowrap;
    position: absolute;
    margin-left: 10.5rem;
    @include mobile {
      margin: 0;
    }
    left: 0;
    & > li {
      list-style: none;
      display: inline-block;
      overflow: auto;
      max-height: 70vh;
      height: 100vh;
      width: 32rem;
      opacity: .6;
      margin: 0 3.125rem;
      
      &.active {
        opacity: 1;
      }
      @include mobile {
        width: 90vw;
        margin: 0 2vw;
      }
      @media only screen and (max-height: 366px) {
        max-height: 50vh;
      }
    }
  }
}