@import '../../sass/vars';
@import '../../sass/mixins';

.card {
  width: 100%;
  height: 100%;
  background-color: $color__background--secondary;
  height: 31.875rem;
  @include border-radius(0.5rem);
  @include mobile {
    height: 100%;
    overflow: auto;
  }
}